body {
    font-family:'Comic Sans MS';
}

h1{
    color: darkmagenta;
}

.buttons{
    border-radius:8px;
    font-size: 15px;
    font-family:'Comic Sans MS';
    cursor: pointer;
    float:left;
    border-color:ButtonShadow;
    color:blueviolet;
}
canvas{
    padding-right:500px;
    padding-top:15px;
}

#stretcher{
    padding:15px;
}

#submit {
    font-size: 15px;
}